[worldserver]

#
#    RewardShopEnable
#        Description: Enable or Disable the NPC ingame shop.
#        Default:     Enabled  = 1
#                     Disabled = 0

RewardShopEnable = 0

#
#    WebsiteAddress
#        Description: This is what the NPC say's when a player clicks "How do i get a code?"
#        Default:     "You can get codes by visiting the online store at (Website Here)"

WebsiteAddress = "请与群管理了解兑换码获取方式吧"
Says = "礼品促销：专业秒满、虚灵、G优惠，需要吗？"

#
#    AllowGM
#        Description: This allows GMs to generate codes from the creature itself without having to visit the store (Will save GM name who generate the code)
#        Default:     Enabled  = 1
#                     Disabled = 0

AllowGM = 0
